html, body { margin:0; height: 100%; background: #2076cd!important; }

.container-fluid, .row, .col-sm-6{
    height: 100%;
}

.logo{}

.vagas{height: 90%;}

    .vagas .vaga{
        width: 11%;
        background: #fff;
        height: 9%;
        float: left;
        margin-bottom: 1%;
        margin-right: 1%;

    }

.conteudo{
    padding: 30px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.conteudo .bem-vindo{
    padding-top: 15px;
}

form[name=busca_carro]{
    border-bottom: 1px dotted rgba(255,255,255,0.5); padding-bottom: 25px; margin-bottom: 30px;
}

form[name=busca_carro] h3{ border-top: 1px dotted rgba(255,255,255,0.5); padding-top: 20px; margin-top: 20px;}

form[name=busca_carro] input{
    font-size: 30px;
    height: auto;
    color: #666;
    line-height: 46px;
}

form[name=busca_carro] button{
    width: 100%;
    line-height: 46px;
    font-size: 22px;
    font-weight: bold;
}

.resultado{ display: none;}

.resultado table tr th{ background: rgba(255,255,255,0.2);}

.resultado table tr td{
    line-height: 28px;
}
.resultado table tr td input[type=button]{
    border: 0;
    line-height: normal;
}
#form_entrada_saida tr td:nth-child(5), #form_entrada_saida tr th:nth-child(5){
    text-align: center;
    width: 25%;
}

.cadastrar-carro{
    text-align: center;
    display: none;
}

#form_cadastrar, #form_entrada_saida{
    display: none;
    margin: 0px auto;
}
